<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="qc:admins" content="1013706074652112566375" />
    <meta name="baidu-site-verification" content="YfBJrvVnS9" />
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="ai56dWktWVUicTYQDGQ2BF9oKAcHRAgTLlssBhpqYB0EZjwaAE8OIA==">
    <title>家润慧生活</title>
    <meta name="description" content="家润慧生活（www.mrhuigou.com）- 青岛首选综合性同城网购-家润都市生活平台将城市生活分为吃、喝、穿、用、玩五大类，全面覆盖城市人生活的方方面面-家润生活圈开放30余个生活体验版块，发现达人体验、分享网购乐趣-家润慧生活为您量身打造高品质、高性价比、24小时上门服务的同城网购体验" />
    <meta name="keywords" content="家润网、同城网购、网上购物、网购、网上商城、生活圈、慧生活网、网购商城" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon-76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon-180.png" sizes="180x180">
    <link href="assets/stylesheet/mobile.min.css?v=20170313" rel="stylesheet">
    <link href="assets/stylesheet/swiper.min.css?v=20170113" rel="stylesheet">

    <script type="text/javascript">
    (function(doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function() {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) {
                    return;
                } else if (clientWidth > 640) {
                    docEl.style.fontSize = 20 + 'px';
                } else {
                    docEl.style.fontSize = 20 * (clientWidth / 640) + 'px';
                }
            };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    </script>

    <!--[if lt IE 9]>
    <script src="assets/script/html5shiv.js"></script>
    <script src="assets/script/respond.min.js"></script>
    <script src="assets/script/ie8.js"></script>
    <![endif]-->

    <script type="application/javascript">
    function init_page() {
        $("img.lazy").scrollLoading({
            container: $(".content")
        });
    }
    </script>

</head>

<body onload="init_page()">
    <article>
        <header class="header">
            <a href="javascript:;" class="header-left" id="show-notification">
                <img src="assets/images/logo2.png" width="110" style="margin-top: -6px;">
            </a>
            <div class="header-search clearfix pr">
                <form action="/search/index" method="get" id="search_form">
                    <input class="input-text s w" type="text" name="keyword" value="" autocomplete="off" tabindex="1" style="border: medium none;">
                    <a href="javascript:void(0)" class="search-btn iconfont">&#xe601;</a>
                </form>
            </div>
            <!--消息-->
            <div class="dropdown1">
                <div class="pa-rt tc w50 dropdown-t">
                    <i class="iconfont green">&#xe670;</i>
                    <em class="dots-o pa-tr r10 t10"></em>
                </div>
                <ul class="dropdown-c lh180" style="display: none;">
                    <li>
                        <a href="/news/list">
                            <i class="iconfont vm mr5">&#xe649;</i>
                            <span class="vm">消息</span>
                            <em class="dots-o pa-tr r10 t10"></em>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="share-guide">
                            <i class="iconfont vm mr5">&#xe644;</i>
                            <span class="vm">分享</span>
                        </a>
                    </li>
                    <li>
                        <a href="tel:4008556977">
                            <i class="iconfont vm mr5">&#xe65e;</i>
                            <span class="vm">客服</span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="content">
            <section class="veiwport " style="max-width: inherit;width: 32rem;height: auto;">

                <!-- 幻灯 -->
                <div id="swiper_content" style="max-width: inherit;width: 32rem;height: 13.3rem;overflow: hidden;"></div>
                <script id="swiper_content_tpl" type="text/html">
                    <div class="swiper-container" id="swiper-container_banner">
                        <div class="swiper-wrapper">
                            <% for(var i=from; i<=to; i++) {%>
                                <div class="swiper-slide">
                                    <a href="<%:=list[i].url%>">
                            <img
                                  data-original="<%:=list[i].image%>" class=" w lazy">
                        </a>
                                </div>
                                <% } %>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiper-pagination-white swiper-pagination-banner"></div>
                    </div>
                </script>

                <!--主导航-->
                <div class="main-nav">
                    <a href="https://m.mrhuigou.com/fresh">
	                    <img src="http://img1.mrhuigou.com/group1/M00/05/8D/wKgB7li8s7mAFE92AAAn5qs2xh4302.jpg_100x100.jpg" class="img-circle bd" style="width: 42px;height: 42px;overflow: hidden;">
	                    <span>生鲜</span>
	                </a>
                    <a href="/coupon/index">
                        <i class="iconfont" style="background-color: #fccf64;">&#xe6ad;</i>
                        <br>
                        <span>洗护</span>
                    </a>
                    <a href="https://m.mrhuigou.com/page/1693.html">
                        <i class="iconfont " style="background-color: #65c8f3;">&#xe6ae;</i>
                        <br>
                        <span>尿裤</span>
                    </a>
                    <a href="/news/list">
                        <i class="iconfont " style="background-color: #ff6663;">&#xe6ac;</i>
                        <br>
                        <span>玩具</span>
                    </a>
                    <a href="https://m.mrhuigou.com/page/1741.html">
                        <i class="iconfont bg-blue">&#xe6f4;</i>
                        <br>
                        <span>孕妈</span>
                    </a>
                </div>

                <div class="flex-col">
                    <a href="#" class="flex-item-6 p1">
                        <img src="http://img1.mrhuigou.com/group1/M00/05/E9/wKgB7lkiiESAK0wsAABbVuEYDFo026.jpg" class="w">
                    </a>
                    <a href="#" class="flex-item-6 p1">
                        <img src="http://img1.mrhuigou.com/group1/M00/05/E9/wKgB7lkiiESAK0wsAABbVuEYDFo026.jpg" class="w">
                    </a>
                </div>

                <!-- 新手妈咪指南 -->
                <div class="tit1 tit1-green">
                    <h2>新手妈咪指南</h2>
                </div>
                <div class="oh">
                    <div class="flex-col" style="margin: 0 -1px;">
                        <div class="flex-item-6 p1">
                            <a href="#">
                                <img src="http://img1.mrhuigou.com/group1/M00/05/E7/wKgB7lkeYhqAeMNEAADhCf92OY0760.jpg_180x180.jpg" class="w">
                            </a>
                        </div>
                        <div class="flex-item-6 p1">
                            <a href="#">
                                <img src="http://img1.mrhuigou.com/group1/M00/05/E7/wKgB7lkeYhqAeMNEAADhCf92OY0760.jpg_180x180.jpg" class="w">
                            </a>
                        </div>
                        <div class="flex-item-6 p1">
                            <a href="#">
                                <img src="http://img1.mrhuigou.com/group1/M00/05/E7/wKgB7lkeYhqAeMNEAADhCf92OY0760.jpg_180x180.jpg" class="w">
                            </a>
                        </div>
                        <div class="flex-item-6 p1">
                            <a href="#">
                                <img src="http://img1.mrhuigou.com/group1/M00/05/E7/wKgB7lkeYhqAeMNEAADhCf92OY0760.jpg_180x180.jpg" class="w">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- 今日必购 -->
                <div class="tit1 tit1-org">
                    <h2>今日必购</h2>
                </div>
                <div id="skill_content" class="pt2"></div>
                <script id="skill_content_tpl" type="text/html">
                    <div class="swiper-container  " id="swiper-container-sales">
                        <div class="swiper-pagination swiper-pagination-qg" style="position: relative;"></div>
                        <div class="swiper-wrapper ">
                            <% for(var i=from; i<=to; i++) {%>
                                <div class="swiper-slide">
                                    <a href="<%:=list[i].url%>" class="db tc">
                    <img src="<%:=list[i].image%>" class="w lazy">
                    <p class="f12 lh200 whitebg row-one "><%:=list[i].name%></p>
                    <p class="red  fb f14 lh200 whitebg tc ">￥<%:=list[i].cur_price%></p>
                </a>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </script>

                <!--广告位-->
                <div class="mt5">
                    <a href="https://m.mrhuigou.com/page/2122.html">
                        <img src="http://img1.mrhuigou.com/group1/M00/05/AE/wKgB7ljZx3KADySRAAJHsmJ5hZ8047.png_640x200.png" class="w">
                    </a>
                </div>

                <!--好货必须哄抢-->
                <div class="tit1 tit1-green">
                    <h2>好货必须哄抢</h2>
                </div>

                <div>
                    <a href="https://m.mrhuigou.com/page/2122.html">
                        <img src="http://img1.mrhuigou.com/group1/M00/05/E8/wKgB7lkeqRKAGuj-AACuGNxAKNQ476.jpg_640x250.jpg" class="w">
                    </a>
                </div>
                <div class="flex-col bg-wh mb10">
                    <a href="/DP0001-508233.html" class="flex-item-3 pr">
                        <img src="http://img1.mrhuigou.com/group1/M00/02/D8/wKgB7lU3XaCANf9uAAB9JBKClJg477.jpg_190x190.jpg" class="w">
                        <div class="p5 tc">
                            <p class="row-two f12">威露士（Walch） 衣物家居消毒液 3L</p>
                            <span class="red">￥59.9</span>
                        </div>
                    </a>
                    <a href="/DP0001-504015.html" class="flex-item-3 pr">
                        <img src="http://img1.mrhuigou.com/group1/M00/01/AC/wKgB7lRIt4qAJl5YAAFDX6_Tk-c484.jpg_190x190.jpg" class="w">
                        <div class="p5 tc">
                            <p class="row-two f12">威露士洗衣液双袋加量装有氧洗2KG+2KG</p>
                            <span class="red">￥39.9</span>
                        </div>
                    </a>
                    <a href="/DP0001-509419.html" class="flex-item-3 pr">
                        <img src="http://img1.mrhuigou.com/group1/M00/03/5A/wKgB7lXEajOAdEyPAABoHlTiFOk341.jpg_190x190.jpg" class="w">
                        <div class="p5 tc">
                            <p class="row-two f12">汰渍 全效360度三重功效洗衣皂238克*2</p>
                            <span class="red">￥7.9</span>
                        </div>
                    </a>
                    <a href="/DP0001-504015.html" class="flex-item-3 pr">
                        <img src="http://img1.mrhuigou.com/group1/M00/01/AC/wKgB7lRIt4qAJl5YAAFDX6_Tk-c484.jpg_190x190.jpg" class="w">
                        <div class="p5 tc">
                            <p class="row-two f12">威露士洗衣液双袋加量装有氧洗2KG+2KG</p>
                            <span class="red">￥39.9</span>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="https://m.mrhuigou.com/page/2122.html">
                        <img src="http://img1.mrhuigou.com/group1/M00/05/E6/wKgB7lkc-z2Aawy9AACt_WxVS1k079.jpg_640x250.jpg" class="w">
                    </a>
                </div>
                <div class="flex-col bg-wh mb10">
                    <a href="/DP0001-508233.html" class="flex-item-3 pr">
                        <img src="http://img1.mrhuigou.com/group1/M00/02/D8/wKgB7lU3XaCANf9uAAB9JBKClJg477.jpg_190x190.jpg" class="w">
                        <div class="p5 tc">
                            <p class="row-two f12">威露士（Walch） 衣物家居消毒液 3L</p>
                            <span class="red">￥59.9</span>
                        </div>
                    </a>
                    <a href="/DP0001-504015.html" class="flex-item-3 pr">
                        <img src="http://img1.mrhuigou.com/group1/M00/01/AC/wKgB7lRIt4qAJl5YAAFDX6_Tk-c484.jpg_190x190.jpg" class="w">
                        <div class="p5 tc">
                            <p class="row-two f12">威露士洗衣液双袋加量装有氧洗2KG+2KG</p>
                            <span class="red">￥39.9</span>
                        </div>
                    </a>
                    <a href="/DP0001-509419.html" class="flex-item-3 pr">
                        <img src="http://img1.mrhuigou.com/group1/M00/03/5A/wKgB7lXEajOAdEyPAABoHlTiFOk341.jpg_190x190.jpg" class="w">
                        <div class="p5 tc">
                            <p class="row-two f12">汰渍 全效360度三重功效洗衣皂238克*2</p>
                            <span class="red">￥7.9</span>
                        </div>
                    </a>
                    <a href="/DP0001-504015.html" class="flex-item-3 pr">
                        <img src="http://img1.mrhuigou.com/group1/M00/01/AC/wKgB7lRIt4qAJl5YAAFDX6_Tk-c484.jpg_190x190.jpg" class="w">
                        <div class="p5 tc">
                            <p class="row-two f12">威露士洗衣液双袋加量装有氧洗2KG+2KG</p>
                            <span class="red">￥39.9</span>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="https://m.mrhuigou.com/page/2122.html">
                        <img src="http://img1.mrhuigou.com/group1/M00/05/EA/wKgB7lkiqumAQnPkAADuR_GJssc631.jpg_640x250.jpg" class="w">
                    </a>
                </div>
                <div class="flex-col bg-wh mb10">
                    <a href="/DP0001-508233.html" class="flex-item-3 pr">
                        <img src="http://img1.mrhuigou.com/group1/M00/02/D8/wKgB7lU3XaCANf9uAAB9JBKClJg477.jpg_190x190.jpg" class="w">
                        <div class="p5 tc">
                            <p class="row-two f12">威露士（Walch） 衣物家居消毒液 3L</p>
                            <span class="red">￥59.9</span>
                        </div>
                    </a>
                    <a href="/DP0001-504015.html" class="flex-item-3 pr">
                        <img src="http://img1.mrhuigou.com/group1/M00/01/AC/wKgB7lRIt4qAJl5YAAFDX6_Tk-c484.jpg_190x190.jpg" class="w">
                        <div class="p5 tc">
                            <p class="row-two f12">威露士洗衣液双袋加量装有氧洗2KG+2KG</p>
                            <span class="red">￥39.9</span>
                        </div>
                    </a>
                    <a href="/DP0001-509419.html" class="flex-item-3 pr">
                        <img src="http://img1.mrhuigou.com/group1/M00/03/5A/wKgB7lXEajOAdEyPAABoHlTiFOk341.jpg_190x190.jpg" class="w">
                        <div class="p5 tc">
                            <p class="row-two f12">汰渍 全效360度三重功效洗衣皂238克*2</p>
                            <span class="red">￥7.9</span>
                        </div>
                    </a>
                    <a href="/DP0001-504015.html" class="flex-item-3 pr">
                        <img src="http://img1.mrhuigou.com/group1/M00/01/AC/wKgB7lRIt4qAJl5YAAFDX6_Tk-c484.jpg_190x190.jpg" class="w">
                        <div class="p5 tc">
                            <p class="row-two f12">威露士洗衣液双袋加量装有氧洗2KG+2KG</p>
                            <span class="red">￥39.9</span>
                        </div>
                    </a>
                </div>

  


            </section>
            <footer class="gray9 tc p10 f14">
                Copyright©2015家润慧生活 版权所有
                <br> 客服热线：4008-556-977
            </footer>
            </div>

    </article>


    <script src="assets/js/jq.min.js"></script>
    <script src="assets/script/jquery-migrate-1.2.1.js"></script>
    <script src="assets/js/core/yii.js"></script>
    <script src="assets/script/swiper.jquery.min.js?v=20170113"></script>
    <script src="assets/script/jquery-extend.js"></script>
    <script src="assets/script/template7.js"></script>
    <script src="assets/script/infinite.js"></script>
    <script src="assets/script/popup.js"></script>
    <script src="assets/script/toast.js"></script>
    <script src="assets/script/modal.js"></script>
    <script src="assets/script/notification.js"></script>
    <script src="assets/script/jquery_mask.js"></script>
    <script src="assets/script/jquery.followit.js?v=20170101"></script>
    <script src="assets/script/jquery.tabslet.min.js?v=20170101"></script>
    <script src="assets/script/jquery.scrollLoading.js?v=20170101"></script>
    <script src="assets/script/ipop.js?v=20170101"></script>
    <script src="assets/script/page.js?v=20170303"></script>
    <script src="assets/script/layer.m/layer.m.js?v=20170101"></script>
    <script src="assets/script/scrollfix.js?v=20170101"></script>
    <script src="assets/script/jquery.nav.js?v=20170101"></script>
    <script src="assets/script/jquery.cookie.js?v=20170101"></script>
    <script src="assets/js/template.js?v=20170101"></script>
    <script src="assets/script/breakingnews.js?v=20170220"></script>
    <script src="assets/script/TT.js?v=20170220"></script>
    <script src="assets/fonts/iconfont.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function() {
        var swiper_content_tpl = $('#swiper_content_tpl').html();
        $.getJSON('https://open.mrhuigou.com/mall/v1/ad/index?code=H5-0F-SLIDE&callback=?', function(result) {
            if (!result.status) {
                return;
            }
            var html = template(swiper_content_tpl, {
                list: result.data,
                from: 0,
                to: (result.data.length - 1)
            });
            $("#swiper_content").html(html);
            $("img.lazy").scrollLoading({
                container: $(".content")
            });
            var swiper_banner = new Swiper('#swiper-container_banner', {
                pagination: '.swiper-pagination-banner',
                paginationClickable: true,
                loop: true,
                spaceBetween: 0,
                centeredSlides: true,
                autoplay: 4000,
                autoplayDisableOnInteraction: false
            });
        });

        var skill_content_tpl = $('#skill_content_tpl').html();
        $.getJSON('https://open.mrhuigou.com/mall/v1/promotion/subject?subject=PANIC&callback=?', function(result) {
            var html = template(skill_content_tpl, {
                promotion: result.promotion,
                list: result.data,
                from: 0,
                to: (result.data.length - 1)
            });
            $("#skill_content").html(html);
            $("img.lazy").scrollLoading({
                container: $(".content")
            });
            //限时抢购滑动
            var sales = new Swiper('#swiper-container-sales', {
                pagination: '.swiper-pagination-qg',
                paginationType: 'progress',
                loop: true,
                slidesPerView: 4,
                spaceBetween: 5,
                autoplay: 6000,
                paginationType: 'progress',
                autoplayDisableOnInteraction: false
            });
            timer(result.promotion.timestamp, $("#skill_content"));
        });
        //滑动
        var brandSale = new Swiper('#brand-sale', {
            slidesPerView: "auto",
            spaceBetween: 5,
            loop: true,
            autoplay: 6000,
            autoplayDisableOnInteraction: false
        });



        if ($.cookie('home_scroll')) {
            $(".content").scrollTop($.cookie('home_scroll'));
        }
        $(".content").on('scroll', function() {
            var scroll = $(this).scrollTop();
            $.cookie('home_scroll', scroll);
        });
        /* 消息列表 */
        $(".dropdown-t").dropdown();
        $.backtop(".content");


    });
    </script>
</body>

</html>
